@font-face {
    font-family: mainFont;
    src: url(PetitaMedium.ttf);
}
#main{
	text-align: center;
	background-color: #B0E57C;
	font-family: sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url(yerbaluisa.ttf);
}
#judul{
	background-color: #FFF0AA;
	font-weight: bold;
	font-family: myFirstFont;
	color: deeppink;
	font-size: 33px;
	width: 100px;
}
#paragraph{
	font-size: 15px;
	color: green;
	text-align: center;
	font-family: sans-serif;
	margin : 50px;
}
#car{
	width: 330px;
	height: 250px;
	display: block;
    margin: 0 auto;
    border: 3px solid #73AD21;
}
#promo{
	background-color: #B4D8E7;
   	margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 20px;
    color: dimgray;
    font-family: mainFont;
    font-size: 20px;
}
#cabangtable{
	background-color: #FFF0AA;
	margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
.baris{
	background-color: #B4D8E7;
    display : inline-block;
    margin: 0;
    padding:0;
    color: #FFAEAE;
    text-decoration: none;
    border-right: thick;
}

#jadwal{
	background-color: #FFAEAE;
	margin: auto;
    width: 40%;
    border: 3px solid #73AD21;
    padding: 10px;
    color: dimgray;
    font-family: mainFont;
    font-size: 20px;
}
.baris-ganjil{
	background-color: #FFF0AA;
}
.barisan {
	background-color: #B4D8E7;
}
.kolom{
	background-color: #FFAEAE;
}
#backto{
	border-right: none;
}
a:hover{
	color: #FFF0AA ;
}
#chat{
	border: 3px solid #FFF0AA;
    position:fixed;
    width:300px;
    height:200px;
    background-color:#FFAEAE;
    left:10px;
    top:400px;
	border: 3px solid #FFF0AA;
 }
 .chatTxt{
  font-family: fontku;
  font-size: 35px;
  font-weight: bold;
  color: deeppink;
  margin: 0;
  letter-spacing: 3px;
 }
 
#errornama{
	color: red;
}
#errortujuan{
	color: red;
}
#errorwaktu{
	color: red;
}
#errormail{
	color: red;
}
#errortiket{
	color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deeppink;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #FFAEAE;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #B4D8E7}

.dropdown:hover .dropdown-content {
    display: block;
}

#title{
	font-family: myFirstFont;
	color: deeppink;
	font-size: 50px;
	text-align: center;
}
#formBorder{
	background-color: #B4D8E7;
	margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;	
}
#parBorder{
	background-color: #FFF0AA;
    width: 70%;
    border: 3px solid #73AD21;
    margin: auto;
}
#login{
	padding-top: 3%;
	padding-left: 1%;
}
#welcomeText{
	font-family: myFirstFont;
	color: deeppink;
	font-size: 100px;
	text-align: center;
	padding: 1px;
	font-weight: bold;
	background-color: #FFF0AA;
}
html {
  border-top: 5px solid #fff;
  background: #58DDAF;
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 900px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 1000px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
@font-face {
    font-family: fontku;
    src: url(CaviarDreams_Bold.ttf);
}
#descText{
  background-color: #FFF0AA;
  color: deeppink;
  line-height: 10%;
  font-weight: bold;
  font-family: fontku;
}
#daftarTxt{
  color: deeppink;
  font-family: fontku;
  background-color:  #FFF0AA; 
}
.buttons{
  border: none;
  background-color: dimgrey;
  color: white;
  font-family: mainFont;
}
